body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(180deg, #ff9a9e, #fad0c4);
}

#centerBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#startScreen {
    position: relative;
    z-index: 5;
}

#valentineText {
    position: relative;
    z-index: 6;
}

button {
    padding: 15px 25px;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    background: #ff4d6d;
    color: white;
    cursor: pointer;
}

.hidden {
    display: none;
}

/* Floating Words */
.floating-word {
    position: absolute;
    font-size: 24px;
    color: white;
    animation: floatUp 6s linear forwards;
}

@keyframes floatUp {
    from { transform: translateY(0); opacity: 1; }
    to { transform: translateY(-200px); opacity: 0; }
}

/* Rose */
#rose {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
}

.petal {
    width: 60px;
    height: 60px;
    background: red;
    border-radius: 50%;
    position: absolute;
    transform: scale(0);
    transition: transform 0.6s ease;
}

.p1 { left: -30px; top: 0; }
.p2 { left: 30px; top: 0; }
.p3 { left: 0; top: -30px; }
.p4 { left: 0; top: 30px; }
.p5 { left: 0; top: 0; }

.petal.open {
    transform: scale(1);
}

/* Final message */
.love-message {
    position: fixed;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 64px;
    font-family: "Brush Script MT", cursive;
    color: white;
    animation: fadeIn 2s ease forwards;
    z-index: 10;
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.love-photo {
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 320px;
    border-radius: 20px;
    box-shadow: 0 20px 60px rgba(0,0,0,0.35);
    animation: fadeIn 2s ease forwards;
    z-index: 9;
}

@keyframes photoAppear {
    to {
        opacity: 1;
        transform: translateX(-50%) scale(1);
    }
}

